/.cproject
/.project
/.settings/
/Build/
*.a
*.gcda
*.gcno
*.o
*.so
/filewriter_test.bin
depends*.x86-linux
EclipseLintLocal.sh
VSCodeLcov.sh
*.d
depends*.*
VSCodeLcov.sh
.vscode
EclipseLcov.local.sh
